@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Exo:wght@100&family=Quicksand:wght@300&family=Raleway:wght@200&family=Roboto+Slab:wght@100;200&family=Source+Serif+4:wght@300&display=swap");
@import "./page-layout.css";
@import "./doc.css";
@import "./start-guide.css";
@import "./utils.css";
@import "./avatar.css";
@import "./badges.css";
@import "./button.css";
@import "./alert.css";
@import "./card.css";
@import "./image.css";
@import "./input.css";
@import "./navigation.css";
@import "./modal.css";
@import "./list.css";
@import "./TextUtilities.css";
@import "./homepage.css";
html {
  font-size: 62.5%;
}
:root {
  --primary-bg-color: #e2c2b9;
  --secondary-bg-color: #f2ddc1;
  --primary-text-color: #694e4e;
  --secondary-text-color: #444941;
  --white: #ffffff;
  --black: #000000;
  --primary-btn-color: #54bab9;
  --secondary-btn-color: #444941;
  --success-color: #b1e693;
  --danger-color: #ff6363;
  --warning-color: #fbf46d;
  --info-color: #99b898;
  --card-text-color: #696969;
  --grey: #c0c0c0;
  --search-bar-bg-color:#B8B8B8;
}
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
}
@media only screen and (max-width: 720px) {
  html {
    font-size: 50%;
  }
  iframe {
    width: auto;
  }
}
