h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18.72px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 12px;
}
.badge {
  padding: 0.2rem 0.7rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-size: 0.75em;
}
.badge-primary {
  background-color: var(--primary-bg-color);
  color: var(--white);
}
.badge-secondary {
  background-color: var(--secondary-text-color);
  color: var(--white);
}
.badge-round-pill {
  border-radius: 50em;
  background-color: var(--secondary-text-color);
  color: var(--white);
}
.badge-w-icon-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 2rem;
}
.fa-shopping-cart,
.fa-heart,
.fa-comment {
  font-size: 5rem;
  position: relative;
  color: var(--secondary-text-color);
}
.badge-w-icon {
  position: absolute;
  top: -15px;
  right: -20px;
  background-color: grey;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  display: inline-block;
  min-width: 1em;
  padding: 0.3em;
  font-size: 2rem;
  text-align: center;
}
.status-badge {
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}
.avatar-presence-wrapper {
  position: relative;
  display: inline-block;
}
.image-large {
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 50%;
}
.status {
  position: absolute;
  border-radius: 50%;
}
.bottom-right-lg {
  bottom: 5px;
  right: 12px;
  width: 20px;
  height: 20px;
  border: 3px solid white;
}
.bottom-right-sm {
  bottom: 0px;
  right: 3px;
  width: 12px;
  height: 12px;
  border: 3px solid white;
}
.online {
  background-color: green;
}
.image-small {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}
.offline {
  background-color: gray;
}
