.btn {
  background-color: var(--primary-bg-color);
  width: auto;
  padding: 1.5rem;
  margin: 1rem;
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
}
.btn-primary {
  background-color: var(--primary-bg-color);
}
.btn-secondary {
  background-color: var(--secondary-bg-color);
}
.btn-success {
  background-color: var(--success-color);
}
.btn-danger {
  background-color: var(--danger-color);
}
.btn-warning {
  background-color: var(--warning-color);
}
.btn-info {
  background-color: var(--info-color);
}
.btn-outline-primary {
  border: 2px solid var(--primary-bg-color);
  background-color: var(--white);
  color: var(--primary-bg-color);
}
.btn-outline-secondary {
  border: 2px solid var(--secondary-bg-color);
  background-color: var(--white);
  color: var(--secondary-bg-color);
}
.btn-outline-success {
  border: 2px solid var(--success-color);
  background-color: var(--white);
  color: var(--success-color);
}
.btn-outline-danger {
  border: 2px solid var(--danger-color);
  background-color: var(--white);
  color: var(--danger-color);
}
.btn-outline-warning {
  border: 2px solid var(--warning-color);
  background-color: var(--white);
  color: var(--warning-color);
}
.btn-outline-info {
  border: 2px solid var(--info-color);
  background-color: var(--white);
  color: var(--info-color);
}
.btn-outline-primary:hover {
  border: 1px solid var(--primary-bg-color);
  color: var(--white);
  background-color: var(--primary-bg-color);
}
.btn-outline-secondary:hover {
  border: 1px solid var(--secondary-bg-color);
  color: var(--white);
  background-color: var(--secondary-bg-color);
}
.btn-outline-success:hover {
  border: 1px solid var(--success-color);
  color: var(--white);
  background-color: var(--success-color);
}
.btn-outline-danger:hover {
  border: 1px solid var(--danger-color);
  color: var(--white);
  background-color: var(--danger-color);
}
.btn-outline-warning:hover {
  border: 1px solid var(--warning-color);
  color: var(--white);
  background-color: var(--warning-color);
}
.btn-outline-info:hover {
  border: 1px solid var(--info-color);
  color: var(--white);
  background-color: var(--info-color);
}
.btn-link {
  background-color: var(--primary-bg-color);
}
.link-text {
  text-decoration: none;
  color: var(--primary-text-color);
}
.btn-icon {
  font-size: 2rem;
  background-color: var(--info-color);
}
.btn-floating-action {
  padding: 0px;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 2.5rem;
  background-color: var(--info-color);
}
