.card__container {
  width: 25rem;
  padding: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.card__image {
  width: 100%;
  object-fit: cover;
}
.card__title {
  font-size: 2rem;
  margin: 0px;
  color: var(--primary-text-color);
}
.card__description {
  margin: 0px;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: var(--card-text-color);
  font-weight: 600;
}
.card__text-wrapper-1 {
  width: 50%;
  justify-content: space-around;
  padding: 0.5rem;
}
.card__text-primary,
.card__text-secondary {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0px;
}
.card__text-secondary {
  color: var(--primary-text-color);
  font-weight: bold;
}
.card__text-wrapper-2 {
  background-color: var(--primary-bg-color);
  padding: 0.5rem;
  width: fit-content;
  border-radius: 5px;
}
.card__icon {
  font-size: 3rem;
  color: var(--primary-bg-color);
}
.card__icon:hover {
  color: var(--primary-text-color);
  cursor: pointer;
}
.card-icon-plus{
  font-size: 1rem;
  padding: 5px;
  background-color:var(--primary-text-color);
  color: var(--white);
  cursor: pointer;
  margin: 1px;
  border-radius: 50%;
}
.card-text{
  border: 1px solid black;
  padding:0px 5px;
  margin:0.5px 2px;
  font-size: 1.5rem;
  font-weight: 900;
}
.card__footer {
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.card__btn-primary {
  font-size: 1rem;
  background-color: var(--primary-text-color);
  width: 90%;
  font-weight: bold;
}
.card__btn-primary:hover {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  border: 0.1px solid var(--primary-text-color);
}
.img-hz {
  flex-shrink: 2;
  height: 100%;
}
.card-horizontal {
  height: 25rem;
  width: 60rem;
  margin:5px;
}
.card-horizontal-column {
  height: 25rem;
}
.card__btn-secondary {
  font-size: 1rem;
  width: 90%;
}
.card-badge {
  position: relative;
}
.card-badge-container {
  padding: 1rem;
  font-size: 1rem;
  margin: 0.5rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--secondary-text-color);
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.card-overlay {
  position: relative;
}
.card-overlay-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.card-text-overlay {
  color: var(--white);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
}
.card__subtitle {
  font-size: 1.5rem;
  color: var(--card-text-color);
  margin: 5px;
}
.card-row {
  justify-content: space-between;
}
.card-close-btn {
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  color: var(--primary-text-color);
}
.close-card-btn:hover {
  color: var(--secondary-text-color);
}

