.installation{
    margin: 3rem;

}
.installation-desc{
    font-size: 2rem;
}

.flex-hz{
    justify-content: center;
    align-items: center;
    
}
.color-palette-section{
    margin: 3rem;
}
.color-palette-container{
    width: 60rem;
    height: 10rem;
 margin: 3rem;
 
}
.color-palette-box{
   justify-content: center;
    width: 12rem;
    height: 10rem;
    padding-left: 2px;
  
}
.primary-color{
    background-color: var(--primary-bg-color);
}
.secondary-color{
    background-color: var(--secondary-bg-color);
}
.success-color{
    background-color: var(--success-color);
}
.danger-color{
    background-color: var(--danger-color);
}
.warning-color{
    background-color:var(--warning-color);
}
@media only screen and (max-width: 720px) {
    .color-palette-container{
        width: auto;
    }
   
  }