.flex-vt{
    display: flex;
    flex-direction: column;
}
.flex-hz{
    display: flex;
    flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
} 
.w-10{
    width: 10rem;
}
.w-20{
    width: 20rem;
}
.w-30{
    width: 30rem;
}
.w-40{
    width: 40rem;
}
.w-50{
    width: 50rem;
}
